{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "template.njk" %}

{% block content %}
{% if successMessage %}
    {{ govukNotificationBanner({
  text: successMessage,
  type: "success"
}) }}
{% endif %}

  <h1 class="govuk-heading-xl">Welcome to the HMCTS task app!</h1>
  {{ govukButton({
    text: "Create new task",
    href: "/tasks/new"
  }) }}

  {% if taskSize > 0 %}
    {% set pendingRows = [] %}
    {% set inProgressRows = [] %}
    {% set completedRows = [] %}
    {% for task in tasks %}
      {% if task.status == "PENDING" %}
        {% set pendingRows = (pendingRows.push([
          {
            html: '<a href="/tasks/' ~ task.id ~ '" class="govuk-link">' ~ task.title ~ '</a>'
          }, {
            text: task.description
          }, {
            text: task.dueTimestamp
          }, {
            text: task.updatedTimestamp
          }, {
            text: task.createdTimestamp
          }
        ]), pendingRows) %}
      {% elif task.status == "IN_PROGRESS" %}
        {% set inProgress = (inProgressRows.push([
          {
            html: '<a href="/tasks/' ~ task.id ~ '" class="govuk-link">' ~ task.title ~ '</a>'
          }, {
            text: task.description
          }, {
            text: task.dueTimestamp
          }, {
            text: task.updatedTimestamp
          }, {
            text: task.createdTimestamp
          }
        ]), inProgress) %}
      {% elif task.status == "COMPLETED" %}
        {% set completedRows = (completedRows.push([
          {
            html: '<a href="/tasks/' ~ task.id ~ '" class="govuk-link">' ~ task.title ~ '</a>'
          }, {
            text: task.description
          }, {
            text: task.dueTimestamp
          }, {
            text: task.updatedTimestamp
          }, {
            text: task.createdTimestamp
          }
        ]), completedRows) %}
      {% endif %}
    {% endfor %}

    {% set pendingTaskHtml %}
    <h2 class="govuk-heading-l">Pending</h2>
    {{ govukTable({
  head: [
    { text: "Title" },
    { text: "Description" },
    { text: "Due by" },
    { text: "Last updated" },
    { text: "Created" }
  ],
  rows: pendingRows
}) }}
    {% endset %}

    {% set inProgressTaskHtml %}
    <h2 class="govuk-heading-l">In Progress</h2>
    {{ govukTable({
  head: [
    { text: "Title" },
    { text: "Description" },
    { text: "Due by" },
    { text: "Last updated" },
    { text: "Created" }
  ],
  rows: inProgressRows
}) }}
    {% endset %}

    {% set completedTaskHtml %}
    <h2 class="govuk-heading-l">Completed</h2>
    {{ govukTable({
  head: [
    { text: "Title" },
    { text: "Description" },
    { text: "Due by" },
    { text: "Last updated" },
    { text: "Created" }
  ],
  rows: completedRows
}) }}
    {% endset %}

    {{ govukTabs({
  items: [
    {
      label: "Pending",
      id: "pending",
      panel: {
        html: pendingTaskHtml
      }
    },
    {
      label: "In progress",
      id: "in-progress",
      panel: {
        html: inProgressTaskHtml
      }
    },
    {
      label: "Completed",
      id: "completed",
      panel: {
        html: completedTaskHtml
      }
    }
  ]
}) }}
  {% endif %}

{% endblock %}